In [1]:
import numpy as np  
import pandas as pd
import sklearn 
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder

In [2]:
train_data=pd.read_csv(r'../playground-series-s5e10/train.csv')
test_data = pd.read_csv(r'test.csv')

In [3]:
train_data.head()

,id,road_type,num_lanes,curvature,speed_limit,lighting,weather,road_signs_present,public_road,time_of_day,holiday,school_season,num_reported_accidents,accident_risk
0,0,urban,2,0.06,35,daylight,rainy,False,True,afternoon,False,True,1,0.13
1,1,urban,4,0.99,35,daylight,clear,True,False,evening,True,True,0,0.35
2,2,rural,4,0.63,70,dim,clear,False,True,morning,True,False,2,0.30
3,3,highway,4,0.07,35,dim,rainy,True,True,morning,False,False,1,0.21
4,4,rural,1,0.58,60,daylight,foggy,False,False,evening,True,False,1,0.56

In [4]:
test_data.head()

,id,road_type,num_lanes,curvature,speed_limit,lighting,weather,road_signs_present,public_road,time_of_day,holiday,school_season,num_reported_accidents
0,517754,highway,2,0.34,45,night,clear,True,True,afternoon,True,True,1
1,517755,urban,3,0.04,45,dim,foggy,True,False,afternoon,True,False,0
2,517756,urban,2,0.59,35,dim,clear,True,False,afternoon,True,True,1
3,517757,rural,4,0.95,35,daylight,rainy,False,False,afternoon,False,False,2
4,517758,highway,2,0.86,35,daylight,clear,True,False,evening,False,True,3

In [5]:
train_data.columns
#features=['id','路况','路道数','路面弯曲','速度限制','光照状况','天气','道路信号'
#         ,'是否为公共道路','时间','是否为节假日','是否为上学季','报道事故数','交通风险']
#df.rename(columns=dict(zip(df.columns,features)),inplace=True)

Index(['id', 'road_type', 'num_lanes', 'curvature', 'speed_limit', 'lighting',
       'weather', 'road_signs_present', 'public_road', 'time_of_day',
       'holiday', 'school_season', 'num_reported_accidents', 'accident_risk'],
      dtype='object')

In [6]:
train_data.head()

,id,road_type,num_lanes,curvature,speed_limit,lighting,weather,road_signs_present,public_road,time_of_day,holiday,school_season,num_reported_accidents,accident_risk
0,0,urban,2,0.06,35,daylight,rainy,False,True,afternoon,False,True,1,0.13
1,1,urban,4,0.99,35,daylight,clear,True,False,evening,True,True,0,0.35
2,2,rural,4,0.63,70,dim,clear,False,True,morning,True,False,2,0.30
3,3,highway,4,0.07,35,dim,rainy,True,True,morning,False,False,1,0.21
4,4,rural,1,0.58,60,daylight,foggy,False,False,evening,True,False,1,0.56

In [7]:
train_data.describe().T

,count,mean,std,min,25%,50%,75%,max
id,517754.0,258876.500000,149462.849974,0.0,129438.25,258876.50,388314.75,517753.0
num_lanes,517754.0,2.491511,1.120434,1.0,1.00,2.00,3.00,4.0
curvature,517754.0,0.488719,0.272563,0.0,0.26,0.51,0.71,1.0
speed_limit,517754.0,46.112575,15.788521,25.0,35.00,45.00,60.00,70.0
num_reported_accidents,517754.0,1.187970,0.895961,0.0,1.00,1.00,2.00,7.0
accident_risk,517754.0,0.352377,0.166417,0.0,0.23,0.34,0.46,1.0

In [8]:
train_data.road_type.unique()

array(['urban', 'rural', 'highway'], dtype=object)

In [9]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517754 entries, 0 to 517753
Data columns (total 14 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      517754 non-null  int64
 1   road_type               517754 non-null  object
 2   num_lanes               517754 non-null  int64
 3   curvature               517754 non-null  float64
 4   speed_limit             517754 non-null  int64
 5   lighting                517754 non-null  object
 6   weather                 517754 non-null  object
 7   road_signs_present      517754 non-null  bool
 8   public_road             517754 non-null  bool
 9   time_of_day             517754 non-null  object
 10  holiday                 517754 non-null  bool
 11  school_season           517754 non-null  bool
 12  num_reported_accidents  517754 non-null  int64
 13  accident_risk           517754 non-null  float64
dtypes: bool(4), float64(2), int64(4), object(4)
memory usage: 41.5+ MB

In [10]:
train_data.head()

,id,road_type,num_lanes,curvature,speed_limit,lighting,weather,road_signs_present,public_road,time_of_day,holiday,school_season,num_reported_accidents,accident_risk
0,0,urban,2,0.06,35,daylight,rainy,False,True,afternoon,False,True,1,0.13
1,1,urban,4,0.99,35,daylight,clear,True,False,evening,True,True,0,0.35
2,2,rural,4,0.63,70,dim,clear,False,True,morning,True,False,2,0.30
3,3,highway,4,0.07,35,dim,rainy,True,True,morning,False,False,1,0.21
4,4,rural,1,0.58,60,daylight,foggy,False,False,evening,True,False,1,0.56

In [11]:
train_data.speed_limit.unique()
train_data.weather.unique()

array(['rainy', 'clear', 'foggy'], dtype=object)

In [ ]:
## 编码
change_feature=['road_type','lighting','weather','time_of_day','holiday','school_season']
for col in change_feature:
    encoder=LabelEncoder()
    combine=pd.concat([train_data[col] , test_data[col]] ,axis=0).astype(str)
    encoder.fit(combine)
    train_data[col]=encoder.transform(train_data[col].astype(str))
    test_data[col]=encoder.transform(test_data[col].astype(str))

In [13]:
train_data.head()

,id,road_type,num_lanes,curvature,speed_limit,lighting,weather,road_signs_present,public_road,time_of_day,holiday,school_season,num_reported_accidents,accident_risk
0,0,2,2,0.06,35,0,2,False,True,0,0,1,1,0.13
1,1,2,4,0.99,35,0,0,True,False,1,1,1,0,0.35
2,2,1,4,0.63,70,1,0,False,True,2,1,0,2,0.30
3,3,0,4,0.07,35,1,2,True,True,2,0,0,1,0.21
4,4,1,1,0.58,60,0,1,False,False,1,1,0,1,0.56

In [ ]:
## 特征工程
for dataset in [train_data , test_data]:
    dataset["speed_curvature"] = dataset["speed_limit"] * dataset["curvature"]
    dataset["lane_density"] = dataset["num_lanes"] / (dataset["speed_limit"] + 1)
    dataset["accidents_per_lane"] = dataset["num_reported_accidents"] / (dataset["num_lanes"] + 1)
features = [f for f in train_data.columns if f not in ["id","accident_risk"]]

In [17]:
features

['road_type',
 'num_lanes',
 'curvature',
 'speed_limit',
 'lighting',
 'weather',
 'road_signs_present',
 'public_road',
 'time_of_day',
 'holiday',
 'school_season',
 'num_reported_accidents',
 'speed_curvature',
 'lane_density',
 'accidents_per_lane']

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import KFold
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import RidgeCV
import scipy
import xgboost
from xgboost import XGBRegressor
from catboost import CatBoostRegressor
import lightgbm as lgb
import itertools